/*fonts*/

/* @font-face {
  font-family: 'Tungsten-Black';
  src: url('Tungsten/Tungsten-Black.eot');
  src: url('Tungsten/Tungsten-Black.eot') format('embedded-opentype'),
    url('Tungsten/Tungsten-Black.ttf') format('truetype'),
    url('Tungsten/Tungsten-Black.svg') format('svg'),
    url('Tungsten/Tungsten-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'Tungsten-Bold';
  src: url('Tungsten/Tungsten-Bold.eot');
  src: url('Tungsten/Tungsten-Bold.eot') format('embedded-opentype'),
    url('Tungsten/Tungsten-Bold.ttf') format('truetype'),
    url('Tungsten/Tungsten-Bold.svg') format('svg'),
    url('Tungsten/Tungsten-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tungsten-Semibold';
  src: url('Tungsten/Tungsten-Semibold.eot');
  src: url('Tungsten/Tungsten-Semibold.eot') format('embedded-opentype'),
    url('Tungsten/Tungsten-Semibold.ttf') format('truetype'),
    url('Tungsten/Tungsten-Semibold.svg') format('svg'),
    url('Tungsten/Tungsten-Semibold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: 'Tungsten-Medium';
  src: url('Tungsten/Tungsten-Medium.eot');
  src: url('Tungsten/Tungsten-Medium.eot') format('embedded-opentype'),
    url('Tungsten/Tungsten-Medium.ttf') format('truetype'),
    url('Tungsten/Tungsten-Medium.svg') format('svg'),
    url('Tungsten/Tungsten-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
