// Icons
// -------------------------


[data-icons8]:before,
.icons8-add-search:before,
.icons8-archive:before,
.icons8-calendar:before,
.icons8-calendar-with-ok-sign:before,
.icons8-camera:before,
.icons8-clock-outline:before,
.icons8-design:before,
.icons8-done:before,
.icons8-e-mail:before,
.icons8-earth-globe:before,
.icons8-facebook:before,
.icons8-grid-2:before,
.icons8-instagram:before,
.icons8-linkedin:before,
.icons8-lock:before,
.icons8-news:before,
.icons8-origami-airplane:before,
.icons8-phone:before,
.icons8-right-pointing-arrow:before,
.icons8-rss:before,
.icons8-satellite-dish:before,
.icons8-search:before,
.icons8-swirl:before,
.icons8-twitter:before,
.icons8-write:before,
.icons8-youtube-play-button-logo:before,
.icons8-youtube-squared:before,
{ @include icons8-font; }

[data-icons8]:before { content: attr(data-icons8); }

.icons8-add-search:before { content: $icons8-var-add-search; }
.icons8-archive:before { content: $icons8-var-archive; }
.icons8-calendar:before { content: $icons8-var-calendar; }
.icons8-calendar-with-ok-sign:before { content: $icons8-var-calendar-with-ok-sign; }
.icons8-camera:before { content: $icons8-var-camera; }
.icons8-clock-outline:before { content: $icons8-var-clock-outline; }
.icons8-design:before { content: $icons8-var-design; }
.icons8-done:before { content: $icons8-var-done; }
.icons8-e-mail:before { content: $icons8-var-e-mail; }
.icons8-earth-globe:before { content: $icons8-var-earth-globe; }
.icons8-facebook:before { content: $icons8-var-facebook; }
.icons8-grid-2:before { content: $icons8-var-grid-2; }
.icons8-instagram:before { content: $icons8-var-instagram; }
.icons8-linkedin:before { content: $icons8-var-linkedin; }
.icons8-lock:before { content: $icons8-var-lock; }
.icons8-news:before { content: $icons8-var-news; }
.icons8-origami-airplane:before { content: $icons8-var-origami-airplane; }
.icons8-phone:before { content: $icons8-var-phone; }
.icons8-right-pointing-arrow:before { content: $icons8-var-right-pointing-arrow; }
.icons8-rss:before { content: $icons8-var-rss; }
.icons8-satellite-dish:before { content: $icons8-var-satellite-dish; }
.icons8-search:before { content: $icons8-var-search; }
.icons8-swirl:before { content: $icons8-var-swirl; }
.icons8-twitter:before { content: $icons8-var-twitter; }
.icons8-write:before { content: $icons8-var-write; }
.icons8-youtube-play-button-logo:before { content: $icons8-var-youtube-play-button-logo; }
.icons8-youtube-squared:before { content: $icons8-var-youtube-squared; }

