// Variables
// --------------------------


$icons8-css-prefix: "icons8";
$icons8-font-name: "Coptic";
$icons8-font-path: "../fonts";

$icons8-var-add-search: "\f105";
$icons8-var-archive: "\f103";
$icons8-var-calendar: "\f101";
$icons8-var-calendar-with-ok-sign: "\f100";
$icons8-var-camera: "\f116";
$icons8-var-clock-outline: "\f118";
$icons8-var-design: "\f10f";
$icons8-var-done: "\f11a";
$icons8-var-e-mail: "\f113";
$icons8-var-earth-globe: "\f106";
$icons8-var-facebook: "\f107";
$icons8-var-grid-2: "\f10e";
$icons8-var-instagram: "\f109";
$icons8-var-linkedin: "\f10b";
$icons8-var-lock: "\f110";
$icons8-var-news: "\f102";
$icons8-var-origami-airplane: "\f112";
$icons8-var-phone: "\f111";
$icons8-var-right-pointing-arrow: "\f10d";
$icons8-var-rss: "\f10c";
$icons8-var-satellite-dish: "\f119";
$icons8-var-search: "\f104";
$icons8-var-swirl: "\f115";
$icons8-var-twitter: "\f108";
$icons8-var-write: "\f117";
$icons8-var-youtube-play-button-logo: "\f114";
$icons8-var-youtube-squared: "\f10a";
